<footer class="footer">
    <div class="footer__container">
        <section>
            <h2 class="footer__title">Sobre</h2>
            <p class="footer__about-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Corporis, asperiores? Dolor nihil temporibus minus voluptatem cupiditate. Officia cupiditate necessitatibus quam cum porro voluptatem! Enim, nam est sunt libero dignissimos alias?</p>    
        </section>
        <address>
            <h2 class="footer_title">Contato</h2>
            <ul>
                <li><i class="fa-solid fa-envelope"></i> email&#64;email.com</li>
                <li><i class="fa-solid fa-phone"></i> (00) 0000-0000</li>
                <li><i class="fa-brands fa-whatsapp"></i>(99) 9 9999-9999</li>
            </ul>
        </address>
        <section class="footer_copyright">
             &copy; Todos os direitos reservados
        </section>
    </div>
</footer>
