<h2 class="cart-title">Carrinho</h2>
<div *ngIf="itensCarrinho.length > 0; else semProduto">
    <ul>
        <li *ngFor="let item of itensCarrinho">
            <img [src]="item.imagem" alt="">
            <p>{{ item.descricao }}</p>
            <p>Preço: {{ item.preco | currency:"BRL" }}</p>
            <label>
                Quantidade:
                <input type="number" min="1" [(ngModel)]="item.quantidade" (change)="calculaTotal()">
            </label>
            <button class="remove-button" (click)="this.removeProdutoCarrinho(item.id)"><i class="fa-solid fa-xmark"></i></button>
        </li>
    </ul>
    <h2 class="cart-total">Total: {{ this.total | currency:"BRL"}}</h2>
    <button class="buy-button" (click)="comprar()">Comprar</button>
</div>
<ng-template #semProduto>Nenhum produto foi adicionado ao Carrinho</ng-template>
